<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Test Website</title>
        <link rel= "stylesheet" type= "text/css" href= "{{url_for('static', filename='styles/main.css')}}">
    </head>
    <body >
      
      
   

      
    
    <img src="static/styles/19a.gif" id="my-image" alt="Polite Frog" style="width:70px;height:90px;">

   
    <div class="spacer"> <p>spacer1</p></div>
    <div class="spacer2"><p>spacer2</p></div>
    <div class="spacer3"><p>spacer3</p></div>
    <div class="header"><p>First Name, Last</p></div>
    <div class="spacer4"><p>spacer4</p></div>
    <div class="spacer5"><p>spacer5</p></div>
    <div class="spacer6"><p>spacer6</p></div>
    <div id="clock"></div>
    <div class="spacer7"><p>spacer7</p></div>
    <div class="spacer8"><p>spacer8</p></div>
    <div class="email"><p>youremailaddress@gmail.com</p></div>
    <div class="spacer9"><p>spacer9</p></div>
    <div class="spacer10"><p>spacer10</p></div>
    <div class="spacer11"> <p>spacer11</p></div>
    <div class="spacer12"><p>spacer12</p></div>
    <div class="spacer13"><p>spacer13</p></div>
    <div class="spacer14"> <p>spacer14</p></div>
    <div class="spacer15"><p>spacer15</p></div>
    <div class="spacer16"><p>spacer16</p></div>
    <div class="spacer17"><p>spacer17</p></div>


    <!-- #javascript for index page -->
    <script src="{{url_for('static', filename='index.js')}}"></script>
    </body>
</html>